aiohttp
aiosignal
async-timeout
attrs
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudscraper
colorama
confection
cymem
filelock
flask
flask-login
frozenlist
fsspec
gingerit
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gunicorn
httplib2
huggingface-hub
idna
importlib-metadata
itsdangerous
jinja2
joblib
langcodes
markupsafe
multidict
murmurhash
nltk
numpy
oauthlib
openai
packaging
pathy
preshed
protobuf
pyasn1
pyasn1-modules
pydantic
pyparsing
python-dotenv
pyyaml
regex
requests
requests-oauthlib
requests-toolbelt
rsa
safetensors
scikit-learn
scipy
secret-key-generator
semanticscholar
six
smart-open
spacy
spacy-legacy
spacy-loggers
beautifulsoup4
srsly
    # via
    #   confection
    #   spacy
    #   thinc
tenacity
    # via semanticscholar
thinc
    # via
    #   -r requirements.in
    #   spacy
threadpoolctl
    # via scikit-learn
tokenizers
    # via transformers
tqdm
    # via
    #   huggingface-hub
    #   nltk
    #   openai
    #   spacy
    #   transformers
transformers
    # via -r requirements.in
typer
    # via
    #   pathy
    #   spacy
typing-extensions
    # via
    #   huggingface-hub
    #   pydantic
uritemplate
    # via google-api-python-client
urllib3
    # via
    #   google-auth
    #   requests
wasabi
    # via
    #   spacy
    #   thinc
watchdog

werkzeug
    # via
    #   flask
    #   flask-login
wheel
    # via -r requirements.in
wikipedia-api
    # via -r requirements.in
yarl
    # via aiohttp
zipp
    # via importlib-metadata

# The following packages are considered to be unsafe in a requirements file:
# setuptools
